<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.twig' %}
		{{ assets({files: ['assets/plugins/custom/datatables/datatables.bundle.css'],  name: 'datatables.bundle.css'}) }}
	</head>
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
		<div class="d-flex flex-column flex-root">
			<div class="page d-flex flex-row flex-column-fluid">
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					{% include 'panel/header.twig' %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						{% include 'panel/toolbar.twig' %}
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<div id="kt_content_container" class="container-xxl">
								<div class="card card-docs mb-2">
									<div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
										<div class="p-0">
											<div class="py-5">
												<div class="d-flex flex-stack mb-5">
													<div class="d-flex align-items-center position-relative my-1 mb-2 mb-md-0">
													<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
													<span class="svg-icon svg-icon-1 position-absolute ms-6">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
															<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
														</svg>
													</span>
													<!--end::Svg Icon-->
													<input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="{{ search }}">
												</div>
													<div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
														<button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Coming Soon">
															<span class="svg-icon svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
															<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
														</svg></span>
															{{ add }}
														</button>
													</div>
													<div class="d-flex justify-content-end align-items-center d-none" data-kt-docs-table-toolbar="selected">
														<div class="fw-bolder me-5">
															<span class="me-2" data-kt-docs-table-select="selected_count"></span> Selected
														</div>
														<button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Coming Soon">
															Selection Action
														</button>
													</div>
												</div>
												<table id="kt_datatable_example_1" class="table align-middle table-row-dashed fs-6 gy-5">
													<thead>
													<tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
														<th class="w-10px pe-2">
															<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
																<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_datatable_example_1 .form-check-input" value="1"/>
															</div>
														</th>
														<th>Customer Name</th>
														<th>Email</th>
														<th>Company</th>
														<th>Payment Method</th>
														<th>Created Date</th>
														<th class="text-end min-w-100px">Actions</th>
													</tr>
													</thead>
													<tbody class="text-gray-600 fw-bold">
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="kt_modal_add_user" tabindex="-1" style="display: none;" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<div class="modal-content">
								<div class="modal-header" id="kt_modal_add_user_header">
									<h2 class="fw-bolder">{{ add_new_author }}</h2>
									<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
										<span class="svg-icon svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
												<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
											</svg>
										</span>
									</div>
								</div>
								<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
									<form id="kt_modal_add_user_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
										<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px" style="max-height: 323px;">
											<div class="fv-row mb-7">
												<label class="d-block fw-bold fs-6 mb-5">{{ avatar }}</label>
												<div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/user.svg')">
													<div class="image-input-wrapper w-125px h-125px" style="background-image: url(/user.jpg);"></div>
													<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="{{ change_avatar }}">
														<i class="bi bi-pencil-fill fs-7"></i>
														<input type="file" name="avatar" accept=".png, .jpg, .jpeg">
														<input type="hidden" name="avatar_remove">
													</label>
													<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="{{ cancel_avatar }}">
														<i class="bi bi-x fs-2"></i>
													</span>
													<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="{{ remove_avatar }}">
														<i class="bi bi-x fs-2"></i>
													</span>
												</div>
												<div class="form-text">png, jpg, jpeg.</div>
											</div>
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<label class="required fw-bold fs-6 mb-2">{{ full_name }}</label>
												<input type="text" name="user_name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="{{ full_name }}" required>
											<div class="fv-plugins-message-container invalid-feedback"></div></div>
										</div>
										<div class="text-center pt-15">
											<button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">{{ cancel }}</button>
											<button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
												<span class="indicator-label">{{ add }}</span>
												<span class="indicator-progress">{{ please_wait }}
												<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
											</button>
										</div>
									<div></div></form>
								</div>
							</div>
						</div>
					</div>
					{% include 'panel/footer.twig' %}
				</div>
			</div>
		</div>
		{% include 'panel/scrolltop.twig' %}
		{% include 'script.twig' %}
		{{ assets({files: ['assets/plugins/custom/prismjs/prismjs.bundle.js'],  name: 'prismjs.bundle.js'}) }}
		{{ assets({files: ['assets/plugins/custom/datatables/datatables.bundle.js'],  name: 'datatables.bundle.js'}) }}
		{{ assets({files: ['assets/js/authors.js'],  name: 'authors2.js'}) }}
		{{ assets({files: ['assets/js/custom/apps/projects/users/users.js'],  name: 'authors.js'}) }}
	</body>
</html>