<!DOCTYPE html>
<html lang="en">
	<head>
		{{ assets({files: ['assets/plugins/custom/prismjs/prismjs.bundle.css'],  name: 'prismjs.bundle.css'}) }}
		{% include 'head.twig' %}
	</head>
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
		<div class="d-flex flex-column flex-root">
			<div class="page d-flex flex-row flex-column-fluid">
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					{% include 'panel/header.twig' %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						{% include 'panel/toolbar.twig' %}
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<div id="kt_content_container" class="container-xxl">
								<div class="card">
									<div class="card-header pt-5">
										<h3 class="card-title align-items-start flex-column">
											<span class="card-label fw-bolder text-gray-800">Mining Status</span>
											<span class="text-gray-400 mt-1 fw-bold fs-6">8k social visitors</span>
										</h3>
										<div class="card-toolbar">
											<div class="d-flex justify-content-end">
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add">
													<span class="svg-icon svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
													<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
												</svg></span>
													{{ add }}
												</button>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="d-flex flex-stack">
											<div class="d-flex align-items-center me-5">
												<div class="me-5">
													<a href="#" class="text-gray-800 fw-bolder text-hover-primary fs-6">GPUs mining</a>
													<span class="fw-bold fs-7 d-block text-start text-success ps-0">Running</span>
												</div>
											</div>
											<div class="d-flex align-items-end">
												<div class="d-flex flex-center">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
														<i class="las la-arrow-up"></i>
													</a>
												</div>
											</div>
											<div class="d-flex align-items-end">
												<div class="d-flex flex-center">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">
														<i class="las la-arrow-down"></i>
													</a>
												</div>
											</div>
											<div class="d-flex align-items-center">
												<div class="d-flex flex-center">
													<div class="form-check form-switch form-check-custom form-check-solid">
														<input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitchChecked" checked="checked">
													</div>
												</div>
											</div>
										</div>
										<div class="separator separator-dashed my-4"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="kt_modal_add" tabindex="-1" style="display: none;" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<div class="modal-content">
								<div class="modal-header" id="kt_modal_add_header">
									<h2 class="fw-bolder">{{ add_new }}</h2>
									<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
										<span class="svg-icon svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
												<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
											</svg>
										</span>
									</div>
								</div>
								<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
									
								</div>
							</div>
						</div>
					</div>
					{% include 'panel/footer.twig' %}
				</div>
			</div>
		</div>
		{% include 'panel/scrolltop.twig' %}
		{% include 'script.twig' %}
		{{ assets({files: ['assets/plugins/custom/prismjs/prismjs.bundle.js'],  name: 'prismjs.bundle.js'}) }}
		{{ assets({files: ['assets/plugins/custom/datatables/datatables.bundle.js'],  name: 'datatables.bundle.js'}) }}
	</body>
</html>